#navbarScroll {
    .main-nav {
        .input-group{
            margin: 0 128px;
            width: 500px;
        }
        .btn-modal-catalog {
            color: red;
            margin-right: 10px;
        }
        .btn-nav-icons{
            margin-right: 10px;
            border: none;
        }
        span{
            padding-top: 7px;
        }
        .btn-nav-login{
            margin-left: 5px;
        }
    }
}